.container-small {
  min-height: 480px;
  max-width: 360px;
  max-height: 480px;
  max-width: 360px;
  background-color: #fffafa;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.App {
  text-align: center;
}
