.container-small {
  min-height: 480px;
  max-width: 360px;
  max-height: 480px;
  max-width: 360px;
  background-color: #121212;
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
}
