@font-face {
  font-family: "Cern";
  src: url("./fonts/Cern-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Cern-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cern";
  src: url("./fonts/Cern.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Cern.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cern";
  src: url("./fonts/Cern-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Cern-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cern";
  src: url("./fonts/Cern-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Cern-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Cern", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
